* {
    margin: 0;
    padding: 0;
}

.image-location {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    display: flex;

}

.image-responsive {
    margin: 0 auto;
}

.input-location {
    width: 50%;
    height: 100%;
    float: left;
    padding: 30px;
}

.input-location:after {
    clear: both;
}

.background-canvas {
    width: 100%;
    height: auto;
    background-size: contain;
    flex: 1;

}

.active-canvas {
    flex: 1;
    width: 100%;
    height: auto;

}

.active-click {
    cursor: crosshair;
}

.loading-click {
    cursor: wait;
}

.padding {
    padding: 0 !important;
}

#createParkingBtn {
    margin-left: calc(50% - 50px);
    margin-top: 10%;
}

.scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
    width: 50%;
}

.box-color {
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, .2);
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px 10px 10px;
}

.placeName {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

.listPlaces {
    width: 100%;
    height: 70%;
    max-height: 300px;
}

.ui-accordion .ui-accordion-content {
    overflow: hidden !important;
}
