<script id="tmp-section" type="text/html">

    <h3 id="accordionHeader{{id}}" class="p-3" style="line-height: 40px;">
        {{name}}
        <span style="float:right" class="toolbar ui-widget-header ui-corner-all ">
            <button class="btn btn-outline-primary" style="float: right; vertical-align: text-bottom;"
                    onclick="deleteParking('{{id}}', '{{parkingId}}', '{{width}}', '{{height}}')">
                <i class="fa fa-trash"></i></button>
        </span>

    </h3>
    <div id="accordionBody{{id}}" class='col-lg-12 padding'>
            <span class='image-location' style="min-height: {{height}}px;">
                <div id="loadingImage{{id}}" class="text-center center-block mt-5 image-responsive">
                    <img src="assets/img/loading.gif">
                </div>
                <canvas id='canvas{{id}}' class="active-canvas"
                        style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
                <canvas id='canvasBackground{{id}}' class='background-canvas'
                        style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
            </span>
        <span class='input-location'>

                <form method='post'>
                    <div class='input-group mb-3'>
                        <label style='width: 100%'>Miejsce parkingowe parkingu:</label>
                        <input type='hidden' class='form-control' id='parkingId{{id}}' value="{{parkingId}}">
                        <input type='text' class='form-control' id='placeId{{id}}'
                               placeholder='Podaj nazwe miejsca parkingowego' required='required'>
                        <input id='submitId{{id}}' class='btn btn-outline-secondary' type='submit'
                               value='Dodaj miejsce parkingowe'>
                        <button id='reset{{id}}' class='btn btn-outline-secondary' type="button"
                                onclick="clearCanvas('{{id}}', '{{width}}', '{{height}}')">Reset</button>
                    </div>
                </form>
            <div id='alert{{id}}'></div>
                <ul id="placeList{{id}}" class="list-group listPlaces" style="overflow-y: auto;"></ul>
            </span>
    </div>

</script>

<script id="tmp-placeList" type="text/html">

    <li class="list-group-item">

        <div class="box-color" style="background-color: {{rgb}}"></div>
        <label class="placeName">{{name}}</label>
        <button class="btn btn-outline-primary" style="float: right;" onclick="deletePlace('{{id}}','{{placeId}}')">
            <i class="fa fa-trash"></i></button>
    </li>

</script>

<script id="tmp-alert" type="text/html">

    <div id="alertTmp" class="alert {{alertType}} alert-dismissible fade show" role="alert">
        <strong>{{strongText}}</strong> {{msg}}
    </div>

</script>